/*
 * Base structure
 */

html,
body {
  background-color: #afccd1;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  color: #222;
  font-family: gineso, sans-serif;
  font-style: normal;
  font-weight: 500;
}

section {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-box {
  flex-direction: column;
  max-width: 80%;
  display: flex;
  position: relative;
}

.media-box {
  max-width: 95%;
  display: flex;
  position: relative;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
.media-box img {
  max-width: 85%;
  align-self: center;
}

.interact-case {
  max-width: 70%;
  display: flex;
  position: relative;
  justify-content: center;
  -ms-touch-action: none;
  touch-action: none;
}

.row img {
  margin-bottom: 40px;
}

.img-shake {
  animation: shake 4s;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}
.img-shake:hover {
	animation: null;
}

@keyframes shake {
  0% { transform: translate(0.08vw, 0.08vw) rotate(0deg); }
  2% { transform: translate(-0.08vw, -0.16vw) rotate(-1deg); }
  4% { transform: translate(-0.24vw, 0vw) rotate(1deg); }
  6% { transform: translate(0.24vw, 0.16vw) rotate(0deg); }
  8% { transform: translate(0.08vw, -0.08vw) rotate(1deg); }
  10% { transform: translate(-0.08vw, 0.16vw) rotate(-1deg); }
  12% { transform: translate(-0.24vw, 0.08vw) rotate(0deg); }
  14% { transform: translate(0.024vw, 0.08vw) rotate(-1deg); }
  16% { transform: translate(-0.08vw, -0.08vw) rotate(1deg); }
  18% { transform: translate(0.08vw, 0.16vw) rotate(0deg); }
  20% { transform: translate(0.08vw, -0.16vw) rotate(-1deg); }
  20.1% {}
}

/*
 * Header
 */
.navbar-brand {
  color: #39818c !important;
  font-size: 50px;
  font-family: sneakers-script, sans-serif;
  font-style: normal;
  font-weight: 500;
  padding-bottom: 0px;
  padding-top: 0px;
}

.media-brand {
  font-size: 28vw;
  font-family: sneakers-script, sans-serif;
  position: absolute;
  align-self: center;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.header-italic {
  font-family: gineso, sans-serif;
  font-weight: 800;
  font-style: italic;
  color: #4c8d97;
}

.header {
  font-family: gineso, sans-serif;
  font-weight: 800;
  font-style: normal;
  color: #4c8d97;
}

/*
 * Interaction
 */

.dropzone {
  width: 7.03vw;
  height: 4.69vw;
  transition: background-color 0.3s;
  background: rgba(0, 0, 0, 0);
  position: absolute;
}

.drop-active {
  border-color: #aaa;
}

.drop-target {
}

.drag-drop {
  display: inline-block;
  background-image: url('../images/ARman_glasses-02.png');
  position: absolute;
  background-repeat: no-repeat;
  background-size:100%;
  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
  transition: background-color 0.3s;
  width: 4.69vw;
  height: 1.64vw;
}

.drag-drop.can-drop {
  color: #000;
  background-color: #4e4;
}

.continue {
  display: inline;
  cursor:pointer;
}

.arman-blobs {
  position: relative;
  background-image: url('../images/ARman_wo_glasses_Rityta1.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 31.25vw;
  height: 31.25vw;
}

.arman {
  position: absolute;
  background-image: url('../images/ARman_simple.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 5.86vw;
  height: 14.22vw;
}

.inter-background {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50.47vw;
  height: 33.59vw;
}
main p {
  max-width: 50.47vw;
}

.wiki-off {
  background-image: url('../images/BerlinUBahn.jpg');
}

.wiki-on {
  background-image: url('../images/WikiAR2.jpg');
}

.vind-off {
  background-image: url('../images/Road3.jpg');
}

.vind-on {
  background-image: url('../images/VindrutAR3.jpg');
}

.self-off {
  background-image: url('../images/Fix1.jpg');
}

.self-on {
  background-image: url('../images/LagAR1.jpg');
}
